
    <!--footer-->
    <div class="footer">
        <div class="footer__row row">
            <div class="footer__col col-md-2">
                <ul>
                    <img class="footer__img">
                    <p class="footer__p">About Beinex​</p>
                    <p class="footer__p">Careers</p>
                    <p class="footer__p">Press Releases</p>
                    <p class="footer__p">Beinex in the News</p>
                </ul>
                
            </div>
            
            <div class=" footer__col col-md-2">
                <ul style="list-style:none">
                    <h4 class="footer__indus">Our Services</h4>
                    <p class="footer__p">Advanced Analytics​</p>
                    <p class="footer__p">AI /ML/RPA</p>
                    <p class="footer__p">Alteryx APA</p>
                    <p class="footer__p">Audit Analytics</p>
                    <p class="footer__p">Beinex Digital</p>
                    <p class="footer__p">Business Intelligence</p>
                </ul>
            </div>
            
            <div class=" footer__col  col-md-2">
                
                <p class="footer__p">Competitive Intelligence</p>
                <p class="footer__p">Modern Cloud Analytics</p>
                <p class="footer__p">Risk Analytics</p>
                <p class="footer__p">Tableau</p>
                <p class="footer__p">Tableau Support Services</p>
            </div>

            <div class="footer__col  col-md-2">
                <ul style="list-style:none">
                    <h4 class="footer__indus">Our Industries</h4>
                    <p class="footer__p">Finances​</p>
                    <p class="footer__p">Human Resources</p>
                    <p class="footer__p">Procurement</p>
                    <p class="footer__p">Sales</p>
                </ul>
            </div>
            
            <div class=" footer__col col-md-2" >
                <h4 class="footer__indus">Our Partners</h4>
                <p class="footer__p">Tableau</p>
                <p class="footer__p">Alteryx</p>
                <p class="footer__p">AURAA</p>
                <p class="footer__p">Amazon Web Services</p>
            </div>
           

            <div class=" footer__col col-md-2">
                <p class="footer__p">Microsoft Azure</p>
                <p class="footer__p">Snowflake</p>
                <p class="footer__p">Salesforce</p>
                <p class="footer__p">Alation</p>
            </div>
        </div>
    </div>

    <!--CopyRight-->
    <div class="copyright">
        <div class="copyright__first">
            <p>Privacy Policy </p><svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewBox="0 0 2 14" fill="none">
                <path opacity="0.6" d="M1 0V14" stroke="white"/>
              </svg>
            <p>Terms of Use</p><svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewBox="0 0 2 14" fill="none">
                <path opacity="0.6" d="M1 0V14" stroke="white"/>
              </svg>
            <p>Cookie Policy</p>

        </div>
       

       <img class="copyright__img" src="../assets/images/copyright/copyrght.svg" alt="">
       

       <p class="copyright__p">Copyright © 2022 - 23 Beinex-Melvin Sibichen</p>

    </div>
