
<a class="btn ms-3 me-3 mt-1" (click)="goBack()">
  <i class="fas fa-arrow-left"></i>
</a>

<!-- Page title -->
<h3 class="mt-4" style="text-align: center;">Employee Leave Data<i class="fas fa-info-circle"></i></h3>

<!-- Employee leave details -->
<div class="employee-details-container ms-5 me-5" *ngFor="let employee of employees">
  <h4 class="employee-name">{{employee.id}} {{employee.name}}</h4>

  <!-- Leave details table -->
  <table class="leave-details-table">
    <thead>
      <tr>
        <th>Leave Type</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of employee.leaveDetails">
        <td>{{ leave.leaveType }}</td>
        <td>{{ leave.status }}</td>
        <td>{{ leave.startDate | date:'short' }}</td>
        <td>{{ leave.endDate | date:'short' }}</td>
        <td>{{ leave.reason }}</td>
      </tr>
    </tbody>
  </table>
</div>