/* You can add global styles to this file, and also import other style files */

/* Importing Angular Material prebuilt theme */
@import'../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
/* Setting 100% height for both html and body elements */
html, body 
{ 
    height: 100%; 
}
/* Resetting margin and setting font-family for the body */
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
